@font-face {
  font-family: 'Ananda';
  src: url('~assets/fonts/AnandaPersonalUse.woff') format('woff'),
    /* Modern Browsers */ url('~assets/fonts/AnandaPersonalUse.woff2')
      format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  font-style: thin;
  font-weight: 300;
  src: url('~assets/fonts/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('~assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: url('~assets/fonts/Montserrat-Bold.ttf') format('truetype');
}
